/************* BASE STYLES *************/
:root {
  /* --gradient: linear-gradient(to right,  hsl(350, 91%, 59%) 20%,hsl(39, 91%, 49%) 100%); */
  --gradient: linear-gradient(to right, red 30%, orange 100%);
  --text-primary: orangered;
}
@font-face {
  font-family: "Rock_Salt";
  src: url(font/Rock_Salt/RockSalt-Regular.ttf);
  font-weight: 800;
}
* { box-sizing: border-box; }
body { font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 1.4; color: #2b2120; margin: 0; }
input, button { font-family: inherit; font-size: inherit; }
a { color: #f1efed; text-decoration: none;  }
/* li a { background-color: rgba(0, 0, 0, 0.2); } */
ul { padding: 0; margin: 0; list-style: none; }
nav { padding: 10px 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }

/**********************************/
.toggleNav {
  display:none;
} 

/*************HEADER*************/
.main-header {
  background-image: url("/images/hero-img.jpg");
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, .3);
  background-blend-mode: overlay;
}

/*************NAVIGATION*************/

.nav {
  max-width: 1280px;
  transition: ease-in-out 1s;
  display: flex;
}

.nav > * {
  flex: 1;
}

.nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-links li{
  font-size: 1rem;
  text-align: center;
  line-height: 1em;
  margin: 0 10px;
  letter-spacing: 1px;
  padding:10px 0;
}
.nav-links li:hover, .nav-links li:active {
  border-bottom: 4px solid;
  border-image:var(--gradient) 10 stretch;
} 
 .nav-links a {
  text-transform: capitalize;
  padding-bottom: 10px;
}
.nav-links a:hover, .nav-links a:active {
  color: var(--text-primary);
}
.page-logo img {
  display: block;
  margin-left: 17%;
  max-width: 100%;
  width: 160px;
  height: 60px;
}
/**************HERO SECTION****************/
.hero {
  width: 60%;
  margin: 0 50px;
  padding: 10px 55px;
  text-transform: uppercase;
  height: 70vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: 3vw;
  padding-bottom: 10px;
}
.hero h1 span {
  color: orangered;
  font-family: "Rock_Salt";
  font-size: 5.5vw;
}
.hero h2 {
  color: whitesmoke;
  padding-bottom: 10px;
  font-size: 3.2vw;
}

.hero button {
  width: fit-content;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: 1px solid orange;
  background: hsla(39, 60%, 50%, .5);
  border-radius: 25px;
  outline: none;
}

/***********Media queries*************/

@media all and (max-width: 750px) {
  .nav {
    flex-wrap: wrap;
  }

  .nav > * {
   flex: 1;
  }
  .nav > .page-logo {
    flex: 10;
    display: flex;
    justify-content: center;
  }

  .nav .nav-links {
    flex-direction: column;
    display: none;
    flex-basis: 100vw;
  }

  .nav-links li {
    text-align: right;
    margin-top: 10px;
  }
  .nav-links li:hover, .nav-links li:active {
    border: none;
  }
  .nav-links a:hover, .nav-links a:active {
    border-bottom: 4px solid;
    border-image:var(--gradient) 10 stretch;
  } 

  .page-logo img {
    margin-left: 50px;
  }

  .toggleNav {
    display: block;
    font-size: 2rem;
  }

    .nav-links.open {
      display:flex;
    }