/************* BASE STYLES *************/
:root {
  /* --gradient: linear-gradient(to right,  hsl(350, 91%, 59%) 20%,hsl(39, 91%, 49%) 100%); */
  --gradient: linear-gradient(to right, red 30%, orange 100%);
  --text-primary: orangered;
}
@font-face {
  font-family: "Rock_Salt";
  src: url(font/Rock_Salt/RockSalt-Regular.ttf);
  font-weight: 800;
}
* { box-sizing: border-box; }
body { font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 1.4; color: #2b2120; margin: 0; }
input, button { font-family: inherit; font-size: inherit; }
a { color: #f1efed; text-decoration: none; }
ul { padding: 0; margin: 0; list-style: none; }
nav { padding: 10px 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }

/**********************************/
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.flex-item {
  flex: 1;
}
.flex-item-grow2 {
  flex: 1.2;
}

.toggleNav {
  display:none;
}

/*************HEADER*************/
.main-header {
  background-image: url("/images/hero-img.jpg");
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, .3);
  background-blend-mode: overlay;
}

/*************NAVIGATION*************/

.nav {
  max-width: 1280px;
  transition: ease-in-out 1s;
}

.page-logo img {
  display: block;
  margin-left: 100px;
  max-width: 100%;
  width: 160px;
  height: 60px;
}

.nav-links li{
  font-size: 1rem;
  text-align: center;
  line-height: 1em;
  margin: 0 10px;
  letter-spacing: 1px;
  padding:10px 0;
}
.nav-links li:hover, .nav-links li:active {
  border-bottom: 4px solid;
  border-image:var(--gradient) 10 stretch;
}
.nav-links a {
  text-transform: capitalize;
  padding-bottom: 10px;
}
.nav-links a:hover, .nav-links a:active {
  color: var(--text-primary);
}

/**************HERO SECTION****************/
.hero {
  width: 60%;
  margin: 0 50px;
  padding: 10px 55px;
  text-transform: uppercase;
  height: 70vh;
  justify-content: center;
}

.hero h1 {
  font-size: 3vw;
  padding-bottom: 10px;
}
.hero h1 span {
  color: orangered;
  font-family: "Rock_Salt";
  font-size: 5.5vw;
}
.hero h2 {
  color: whitesmoke;
  padding-bottom: 10px;
  font-size: 3.2vw;
}

.hero button {
  width: fit-content;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: 1px solid orange;
  background: hsla(39, 60%, 50%, .5);
  border-radius: 25px;
  outline: none;
}

/***********MAIN*************/



















@media all and (max-width: 750px) {
  .page-logo img{
    margin: 0 auto;
  }

  .page-logo:first-child {
    flex: 10;
    /* background-color: red; */
  }

  .page-logo:last-child {
    flex: 1;
  }
  .nav {
    justify-content: space-between;
  }


  .nav-links {
    flex-direction: column;
  }
  .nav-links li {
    text-align: right;
    margin-top: 10px;
  }
  .nav-links li:hover, .nav-links li:active {
    border: none;
  }
  .nav-links a:hover, .nav-links a:active {
    border-bottom: 4px solid;
    border-image:var(--gradient) 10 stretch;
  }


  /******Hamburger Menu******/
  .toggleNav {
    display: block;
    font-size: 2rem;
  }

  .nav-links {
    display: none;
  }
    .nav-links.open {
      display:flex;
    }
  
    
  }



















  /* .page-logo {
  margin: 5px 50px;
  padding: 5px 40px;
  font-family: "Rock_Salt";
  color: linear-gradient(90deg, red, orange);
  font-size: 2rem;
} */

/* .page-logo a {
  border-radius: 50%;
  color: white;
  text-shadow: 3px 5px 2px orange, 5px 3px 2px red;
  background: linear-gradient(90deg, red, orange);
} */